[submodule "vendor/plugins/redmine_graphs"]
	path = vendor/plugins/redmine_graphs
	url = https://github.com/bradbeattie/redmine-graphs-plugin.git
[submodule "public/themes/kohana"]
	path = public/themes/kohana
	url = https://github.com/kiall/redmine-theme-kohana.git
