/* load the default Redmine stylesheet */
@import url(../../alternate/stylesheets/application.css);

/* add a logo in the header */
#header {
    background: #83C018 url(http://www.kohanaphp.com/media/img/kohana.png) no-repeat 2px;
    background-position: top left;
    padding-left: 55px;
    padding-top: 120px;
    color: #EEE;
}

#main-menu li a {
	background-color: #2C4056;
}

div.syntaxhighlighter {
	margin:1em 1em 1em 1.6em !important;
	width: 95% !important;
}
div.journal div.wiki {
	margin-left:40px;
}

div.journal div.wiki div.syntaxhighlighter {
	width: 90% !important;
}
